<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet"
        type="text/css" />
</head>

<body>
    <header>
        <ul>
            <li class="head"><a href="#">ایتم اول</a></li>
            <li class="head"><a href="#">ایتم دوم</a></li>
            <li class="head"><a href="#">ایتم سوم</a></li>
        </ul>
    </header>
    <h1>ادامه ی ایتم ها </h1>
    <section class="paragraphone">
        
        <div class="items" style="background-color: #656;">ایتم یک</div>

        <div class="items" style="background-color: #646;">ایتم دو</div>

        <div class="items" style="background-color: #636;">ایتم سه</div>

    </section>
    <section class="secondparagraph">
        <p> ادامه ی ایتم ها </p>
    </section>
    <section class="paragraphthree">
        <div class="menu" style="background-color: #756;">ایتم اول </div>
        <div class="menu" style="background-color: #746;"> ایتم دوم</div>
    </section>
    <footer class="foot">
        <p>پایان ایتم ها </p>
    </footer>
</body>

</html>